.btn-primary,.label-primary {
    background-color: #7f5c74!important
}

.fr.borderg,.fr.borderg a {
    border-radius: 3px!important;
    margin-right: 0!important;
    background-color: #7f5c74!important;
    border: #000 solid 0;
    color: #fff
}

.bg {
    background-color: #98798f;
}

.light {
    background-color: #ecdfe9;
}

div#tlogins ::-webkit-scrollbar {
    width: 5px;
    height: 10px
}

div#tlogins ::-webkit-scrollbar-button {
    width: 5px;
    height: 5px
}

div#tlogins ::-webkit-scrollbar-thumb {
    background: 0 0;
    border: 71px #fff;
    border-radius: 31px;
    background-color: #7f5c74;
}


div#tlogins ::-webkit-scrollbar-thumb:active {
    background: 0 0
}

div#tlogins ::-webkit-scrollbar-track {
    background: #fff;
    border: 65px #fff;
    border-radius: 34px
}

div#tlogins ::-webkit-scrollbar-track:hover {
    background: 0 0
}

div#tlogins ::-webkit-scrollbar-track:active {
    background: 0 0
}

div#tlogins ::-webkit-scrollbar-corner {
    background: 0 0
}

div#tlogins .fl.mini.u-msg {
    margin-top: 3px!important;
    border-radius: 3px!important
}

div#tlogins .u-topic.dots {
    width: 800px;
}